# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - gamspace

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      # Frontend: Install dependencies and build
      - name: Install frontend dependencies
        working-directory: ./frontend # Adjust if your frontend directory name differs
        run: npm install

      - name: Build frontend
        working-directory: ./frontend
        run: npm run build --if-present

      # Backend: Install dependencies
      - name: Set up Node.js version for backend
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install backend dependencies
        working-directory: ./backend/proxy # Adjust based on the path to your backend folder
        run: npm install

      - name: Start backend
        working-directory: ./backend/proxy
        run: npm start
      
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write #This is required for requesting the JWT

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_40C5D69203174144BB78AE0868EA889D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_507D49C30D9C4A2F8858272DB886BF67 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_250BB598AA7447E6932A1C5E406E32EE }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'gamspace'
          slot-name: 'Production'
          package: .
          